/* Template: Porto - Portfolio Landing Page Template
   Author: Inovatik
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

- General Styles
- Header
- Description
- Process
- Experience
- Testimonials
- Customers
- Services
- Projects
- Quote
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - gray #f9f9f9
- Buttons, links - red #e5575e
- Headings text - black #30363a
- Body text - gray #474c4e
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #474c4e; 
	font: 400 1rem/1.75rem "Open Sans", sans-serif;
}

h1 {
	color: #30363a;
	font: 700 2.5rem/3.25rem "Open Sans", sans-serif;
	letter-spacing: -0.5px;
}

h2 {
	color: #30363a;
	font: 700 2.25rem/3rem "Open Sans", sans-serif;
	letter-spacing: -0.25px;
}

h3 {
	color: #30363a;
	font: 700 1.5rem/2.25rem "Open Sans", sans-serif;
	letter-spacing: -0.125px;
}

h4 {
	color: #30363a;
	font: 700 1.25rem/1.75rem "Open Sans", sans-serif;
}

h5 {
	color: #30363a;
	font: 700 1.125rem/1.625rem "Open Sans", sans-serif;
}

h6 {
	color: #30363a;
	font: 700 1rem/1.5rem "Open Sans", sans-serif;
}

.p-large {
	font: 400 1.125rem/1.875rem "Open Sans", sans-serif;
}

.p-small {
	font: 400 0.875rem/1.625rem "Open Sans", sans-serif;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #474c4e;
	text-decoration: underline;
}

a:hover {
	color: #474c4e;
	text-decoration: underline;
}

.red {
	color: #e5575e;
}

.bg-gray {
	background-color: #f9f9f9;
}

.section-divider {
	height: 1px;
	border: none;
	background-color: #eeeeee;
}

.mb-6 {
	margin-bottom: 6rem;
}

.pt-6 {
	padding-top: 6rem;
}

.pb-6 {
	padding-bottom: 6rem;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #e5575e;
	border-radius: 2rem;
	background-color: #e5575e;
	color: #ffffff;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 1px solid #e5575e;
	background-color: transparent;
	color: #e5575e;
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.5rem 1.625rem 2.5rem;
	border: 1px solid #e5575e;
	border-radius: 2rem;
	background-color: #e5575e;
	color: #ffffff;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 1px solid #e5575e;
	background-color: transparent;
	color: #e5575e;
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #30363a;
	border-radius: 2rem;
	background-color: transparent;
	color: #30363a;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	border: 1px solid #30363a;
	background-color: #30363a;
	color: #232629;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.5rem 1.625rem 2.5rem;
	border: 1px solid #30363a;
	border-radius: 2rem;
	background-color: transparent;
	color: #30363a;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	border: 1px solid #30363a;
	background-color: #30363a;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.625rem 1rem 1.625rem;
	border: 1px solid #30363a;
	border-radius: 2rem;
	background-color: transparent;
	color: #30363a;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	border: 1px solid #30363a;
	background-color: #30363a;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
	margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
	margin-top: 0.375rem;
}

.label-control {
	position: absolute;
	top: 1.0625rem;
	left: 1.625rem;
	color: #888888;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 0.25rem;
	background-color: #ffffff;
	color: #474c4e;
	font: 400 0.875rem/1.875rem "Open Sans", sans-serif;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.5rem;
	color: #888888;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 0.25rem;
	background-color: #ffffff;
	color: #474c4e;
	font: 400 0.875rem/1.75rem "Open Sans", sans-serif;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.5rem;
	border: 1px solid #e5575e;
	border-radius: 1.875rem;
	background-color: #e5575e;
	color: #fff;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #e5575e;
	background-color: transparent;
	color: #e5575e;
}


/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */

/* Fade Animation For Image Lightbox - Magnific Popup */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image lightbox - magnific popup */


/*****************/
/*    Header     */
/*****************/
.header {
	padding-top: 3rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

.header img {
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}

.header .owner-name,
.header img {
	display: inline-block;
	vertical-align: middle;
}

.header .owner-name {
	color: #30363a;
	font-weight: 700;
	font-size: 1.25rem;
}


/***********************/
/*     Description     */
/***********************/
.basic-1 {
	padding-bottom: 6rem;
	text-align: center;
}

.basic-1 img {
	margin-bottom: 2rem;
}

.basic-1 p {
	margin-bottom: 2rem;
}

.basic-1 .text-container {
	margin-bottom: 6rem;
}

.basic-1 .btn-solid-lg {
	margin-bottom: 1rem;
}

.basic-1 .btn-solid-lg,
.basic-1 .btn-outline-lg {
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}

.basic-1 .btn-solid-lg .fas,
.basic-1 .btn-outline-lg .fas {
	line-height: 0;
	margin-right: 0.5rem;
}

.basic-1 .logo-container img {
	display: block;
	max-width: 10.125rem;
	max-height: 1.875rem;
	margin-right: auto;
	margin-bottom: 2.5rem;
	margin-left: auto;
}


/*******************/
/*     Process     */
/*******************/
.cards-1 {
	padding-top: 7.75rem;
	padding-bottom: 2.25rem;
}

.cards-1 h2 {
	margin-bottom: 2rem;
}

.cards-1 .card {
	margin-bottom: 3rem;
	border: 0;
	background-color: transparent;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	color: #e5575e;
	font-weight: 700;
	font-size: 1.125rem;
	margin-bottom: 0.5rem;
}

.cards-1 .card-title .fas {
	margin-right: 0.5rem;
}


/**********************/
/*     Experience     */
/**********************/
.basic-2 {
	padding-top: 2.25rem;
	padding-bottom: 3.25rem;
}

.basic-2 h2 {
	margin-bottom: 1.5rem;
}

.basic-2 .list-unstyled .fas {
	color: #474c4e;
	font-size: 0.375rem;
	line-height: 1.75rem;
}

.basic-2 .list-unstyled .media-body {
	margin-left: 0.5rem;
}


/************************/
/*     Testimonials     */
/************************/
.basic-3 {
	padding-top: 3.25rem;
	padding-bottom: 1rem;
}

.basic-3 h2 {
	margin-bottom: 2.25rem;
}

.basic-3 .media {
	display: block;
	margin-bottom: 2.5rem;
	padding: 2rem 1.25rem 2rem 1.25rem;
	background: #ffffff;
}

.basic-3 .list-image {
	margin-bottom: 1.25rem;
}

.basic-3 .list-image img {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

.basic-3 .testimonial-text {
	margin-bottom: 0.5rem;
}


/*********************/
/*     Customers     */
/*********************/
.slider {
	padding-top: 1.5rem;
	padding-bottom: 4.5rem;
	text-align: center;
}

.slider h4 {
	margin-bottom: 2rem;
}


/*********************/
/*     Services     */
/*********************/
.cards-2 {
	padding-top: 3.5rem;
	padding-bottom: 5.5rem;
}

.cards-2 h2 {
	margin-bottom: 2.25rem;
}

.cards-2 .card {
	margin-bottom: 3rem;
	padding: 3rem 1.25rem 1.875rem 1.25rem;
	border: none; 
	border-radius: none; 
}

.cards-2 .card-image .fas,
.cards-2 .card-image .far {
	margin-bottom: 1.25rem;
	color: #e5575e;
	font-size: 3.25rem;
} 

.cards-2 .card-body {
	padding: 0;
}

.cards-2 .card-title {
	margin-bottom: 0.5rem;
}

.cards-2 .list-unstyled .fas {
	color: #474c4e;
	font-size: 0.375rem;
	line-height: 1.75rem;
}

.cards-2 .list-unstyled .media-body {
	margin-left: 0.5rem;
}


/********************/
/*     Projects     */
/********************/
.basic-4 {
	padding-top: 7.75rem;
	padding-bottom: 7.875rem;
}

.basic-4 h2 {
	margin-bottom: 2.25rem;
}

.basic-4 .static-image img {
	margin-bottom: 3.25rem;
}

.basic-4 h3 {
	margin-bottom: 0.25rem;
}

.basic-4 .project-link {
	display: inline-block;
	margin-bottom: 1.125rem;
	color: #e5575e;
}

.basic-4 .tag {
	margin-right: 1rem;
	color: #92989c;
}

.basic-4 .section-divider {
	margin-top: 4.25rem;
	margin-bottom: 5rem;
}

.basic-4 .gallery .slider-container {
	position: relative;
	margin-bottom: 3.25rem;
}

.basic-4 .gallery .swiper-container {
	position: static;
}

.basic-4 .swiper-button-prev:focus,
.basic-4 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.basic-4 .swiper-button-prev {
	left: 0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23333'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.basic-4 .swiper-button-next {
	right: 0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23333'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.basic-4 .video .video-wrapper {
	position: relative;
	margin-bottom: 3.25rem;
}

/* Video Play Button */
.basic-4 .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	width: 2rem;
	height: 2.75rem;
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-4 .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.75rem;
	height: 4.75rem;
	border-radius: 50%;
	background: #e5575e;
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-4 .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.375rem;
	height: 4.375rem;
	border-radius: 50%;
	background: #e5575e;
	transition: all 200ms;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-4 .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 0.375rem;
	left: 0.25rem;
	width: 0;
	height: 0;
	border-left: 1.625rem solid #ffffff;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}
  
@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}
/* end of video play button */


/*****************/
/*     Quote     */
/*****************/
.form {
	padding-top: 7.875rem;
	padding-bottom: 7.25rem;
	text-align: center;
}

.form h2 {
	margin-bottom: 1.25rem;
}

.form p {
	margin-bottom: 3.75rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 7.75rem;
	padding-bottom: 4rem;
	text-align: center;
}

.footer a {
	color: #30363a;
	text-decoration: none;
}

.footer h3 {
	margin-bottom: 2rem;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #3b3b3e;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #f9f9f9;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #f9f9f9;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #3b3b3e;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-top: 1.5rem;
	text-align: center;
}

.copyright a {
	text-decoration: none;
	color: #92989c;
}

.copyright .statement {
	color: #92989c;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #585f63 url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #e5575e; 
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
}

.ex-basic-1 .list-unstyled .fas {
	color: #474c4e;
	font-size: 0.375rem;
	line-height: 1.75rem;
}

.ex-basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.ex-basic-1 .list-unstyled.list-icon-lg .media {
	margin-bottom: 2.5rem;
}

.ex-basic-1 .list-unstyled.list-icon-lg .list-icon {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: #f9f9f9;
	text-align: center;
}

.ex-basic-1 .list-unstyled.list-icon-lg .fas {
	font-size: 1rem;
	line-height: 3rem;
}

.ex-basic-1 .list-unstyled.list-icon-lg .media-body {
	margin-left: 0.75rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f9f9f9;
}

.ex-basic-1 .text-box .text-box-icon {
	color: #fc5fa1;
	font-size: 2.5rem;
}

.ex-basic-1 .map-responsive {
	overflow: hidden;
	position: relative;
	height: 0;
	margin-bottom: 3rem;
	padding-bottom: 56.25%;
	border-radius: 0.25rem;
}

.ex-basic-1 .map-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	border: none; 
}

.ex-form-1 .form-group {
	margin-bottom: 1.75rem;
}

.ex-form-1 .label-control {
	top: 1.375rem;
	left: 1.625rem;
	font-size: 1rem;
}

.ex-form-1 .form-control-input:focus + .label-control,
.ex-form-1 .form-control-input.notEmpty + .label-control,
.ex-form-1 .form-control-textarea:focus + .label-control,
.ex-form-1 .form-control-textarea.notEmpty + .label-control {
	top: 0.375rem;
}

.ex-form-1 .form-control-input {
	padding-top: 1.5rem;
	padding-bottom: 0.625rem;
}

.ex-form-1 .form-control-textarea {
	padding-top: 1.5rem;
}

.ex-form-1 .form-control-submit-button {
	height: 4rem;
	border-radius: 2.5rem;
}

.ex-form-2 form {
	max-width: 26rem;
	margin-right: auto;
	margin-left: auto;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Description */
	.basic-1 h1 {
		font-size: 6.25rem;
		line-height: 7.5rem;
	}

	.basic-1 .image-container {
		position: relative;
		margin-bottom: 4rem;
	}

	.basic-1 img {
		margin-bottom: 0;
	}

	.basic-1 .text-container {
		position: absolute;
		top: 5.5rem;
		right: 0;
		left: 0;
		width: 38rem;
		margin-right: auto;
		margin-bottom: 0;
		margin-left: auto;
	}

	.basic-1 .logo-container img {
		display: inline-block;
		margin-right: 1rem;
		margin-bottom: 2.25rem;
		margin-left: 1rem;
	}
	/* end of description */


	/* Projects */
	.basic-4 .swiper-button-prev {
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	
	.basic-4 .swiper-button-next {
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	/* end of projects */


	/* Extra Pages */
	.ex-basic-1 .list-unstyled.list-icon-lg .list-icon {
		width: 5rem;
		height: 5rem;
	}
	
	.ex-basic-1 .list-unstyled.list-icon-lg .fas {
		font-size: 2rem;
		line-height: 5rem;
	}

	.ex-basic-1 .list-unstyled.list-icon-lg .media-body {
		margin-left: 1.5rem;
	}

	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	h1 {
		font-size: 3rem;
		line-height: 3.75rem;
	}
	/* end of general styles */


	/* Header */
	.header img {
		width: 5rem;
		height: 5rem;
		margin-right: 0.625rem;
		margin-left: 0.625rem;
	}
	/* end of header */


	/* Description */
	.basic-1 h1 {
		font-size: 8.5rem;
		line-height: 11rem;
	}

	.basic-1 .text-container {
		width: 43rem;
	}

	.basic-1 .logo-container img {
		max-width: 8rem;
		margin-bottom: 2.5rem;
	}
	/* end of description */


	/* Process */
	.cards-1 .card {
		display: inline-block;
		width: 18rem;
		vertical-align: top;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1.75rem;
		margin-left: 1.75rem;
	}
	/* end of process */


	/* Services */
	.cards-2 .card {
		display: inline-block;
		width: 18.5rem;
		padding-right: 1.75rem;
		padding-left: 1.75rem;
		vertical-align: top;
	}

	.cards-2 .card:nth-child(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of services */


	/* Quote */
	.form p {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}

	.form form {
		width: 36rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of quote */


	/* Footer */
	.footer h3 {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of footer */


	/* Copyright */
	.copyright {
		text-align: left;
	}

	.copyright .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}

	.copyright .statement {
		text-align: right;
	}
	/* end of copyright */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* Description */
	.basic-1 h1 {
		margin-bottom: 1rem;
		font-size: 10.125rem;
		line-height: 13rem;
		letter-spacing: -1px;
	}

	.basic-1 .logo-container img {
		max-width: 8.875rem;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	
	.basic-1 .logo-container img:first-of-type {
		margin-left: 0;
	}

	.basic-1 .logo-container img:last-of-type {
		margin-right: 0;
	}
	/* end of description */


	/* Process */
	.cards-1 .card {
		width: 21rem;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of process */


	/* Testimonials */
	.basic-3 .list-unstyled.first {
		margin-right: 0.25rem;
	}

	.basic-3 .list-unstyled.second {
		margin-left: 0.25rem;
	}

	.basic-3 .media {
		display: flex;
		padding: 2.25rem 1.5rem 2.125rem 1.5rem;
	}
	
	.basic-3 .list-image {
		margin-right: 1.5rem;
	}
	/* end of testimonials */


	/* Services */
	.cards-2 .card {
		width: 21.75rem;
	}

	.cards-2 .card:nth-child(3n+2) {
		margin-right: 1.75rem;
		margin-left: 1.75rem;
	}
	/* end of services */


	/* Projects */
	.basic-4 .swiper-button-prev {
		left: -2.25rem;
	}
	
	.basic-4 .swiper-button-next {
		right: -2.25rem;
	}
	/* end of projects */
}
/* end of min-width 1200px */